*.zip
*png*
*tar
*outputs*
Phi/
data_fits/
*.o
*.txt
bin/
*dat
*txt
*fits*
*reg
add_params.h
allvars.c
protos.h
*log
*txt*
*csv*
*osm
case/
aegean/
HillDetect
other_py/
chanvese/
__pycache__/
*.in
data/*
